
#SeventhSection {
    display: grid;
    justify-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(../images/background.jpg) top center no-repeat;
    background-size: 100% 100%;
    width: 100%;
    color: #fff;
}

.seventh-section-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 20px;
}

.seventh-section-text {
    justify-self: center;
    align-self: start;
}

.seventh-section-title {
	font-size: 50px;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
}
.seventh-section-subtitle {
	font-family: 'ubuntu';
    font-weight: bold;
	font-size: 27px;
	margin-bottom: 30px;
}

.seventh-section-description {
	font-family: 'open sans';
	font-size: 20px;
	line-height: 1.7em;
	margin-bottom: 30px;
}

.seventh-section-description li {
    list-style-type: disc;
    margin-bottom: 20px;
    margin-left: 20px;
}

.triangles {
    background-size:100% 100%;
    width: 300px;
    height: 300px;
    justify-self: start;
    
}