
#SecondSection {
    display: grid;
    justify-items: center;
    padding-top: 100px;
    background-color: #F4F4F4;
}

.pods-case {
    background-size:100% 100%;
    width: 400px;
    height: 400px;
    align-self: start;
    margin-left:-13%;
}

.second-section-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    /* justify-items: end; */
}

.second-section-text {
    align-self: start;
}


/* .second-section-title {
    
	font-family: 'ubuntu';
	font-weight: bold;
	font-size: 37px;
	margin-bottom: 30px;
}
.second-section-description {
   
	font-family: 'open sans';
	font-size: 16px;
	line-height: 1.7em;
	margin-bottom: 30px;
} */
