
#ThirdSection {
    display: grid;
    justify-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(../images/background.jpg) top center no-repeat;
    background-size: 100% 100%;
    width: 100%;
    color: #fff;
}

.third-section-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
}

.third-section-text {
    justify-self: center;
    align-self: center;
}

.third-section-description {
    font-size: 20px;
}

.third-section-title {
	font-family: 'ubuntu';
	font-weight: bold;
	font-size: 50px;
	margin-bottom: 30px;
}

.third-section-description {
	font-family: 'open sans';
	font-size: 20px;
	line-height: 1.7em;
	margin-bottom: 30px;
}

.pods-in-case {
    background-size:100% 100%;
    width: 300px;
    height: 350px;
    justify-self: end;
    justify-self: start;
}