
body, header, section, h1, h2, h3, nav, ul, li, p {
  margin: 0;
  padding: 0;
}

section .container {
  column-gap: 30px;
}

.section-title {
  font-family: 'ubuntu';
	font-weight: bold;
	font-size: 50px;
	margin-bottom: 30px;
}

.animated {
  width: 90%;
}








